.flex-container#burger-button {
  position: absolute;
  flex-direction: column;
  right: 1%;
  margin: 3px;
}

.flex-container#burger-button:hover {
  border: 2px solid var(--blue);
  border-radius: 3px;
}

.flex-container#burger-button span {
  display: inherit;
  background-color: black;
  height: 3px;
  width: 25px;
  margin: 3px;
}
