.flex-container#burger-button {
  border: 1px solid;
  position: absolute;
  flex-direction: column;
  right: 2%;
  top: 12%;
}

.flex-container#burger-button span {
  display: inherit;
  background-color: black;
  height: 3px;
  width: 20px;
  margin: 2px;
}
