.section-content#contact {
   flex-direction: row;
   background-color: #ebf0f6;
   flex-direction: row;
   justify-content: center;
}

/* Contact Form*/

.form-container {
   width: 90%;
   padding: 50px 0px 50px 0px;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
}

.personal-data,
.query {
   width: 600px;
   font-size: 1.5rem;
   margin: 10px 0px 10px 0px;
   padding: 10px;
}

.personal-data::placeholder,
.query {
   color: lightgray;
   font-size: 1.5;
   text-align: center;
}

.personal-data {
   border-bottom: 2px solid var(--light-gray);
   height: 50px;
}

.query {
   resize: none;
}

.send-data {
   width: 150px;
   height: 40px;
   font-size: 1.8rem;
   font-weight: lighter;
   margin: 10px 0px 10px 0px;
   color: white;
   background-color: var(--blue);
   border: 1px solid black;
   border-radius: 5px;
   cursor: pointer;
}

/*Contact Means*/
.grid-container#contact-grid {
   grid-template-columns: [col1-start] 1fr [col2-start] 1fr;
   background-color: var(--white);
   border-radius: 15px;
   margin: 20px;
   box-shadow: 0px 0px 8px black;
}

.grid-container#contact-grid h3 {
   grid-column: col1-start / col2start;
   padding: 30px;
}

.img-container#whatsapp,
.img-container#email {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.img-container#whatsapp p,
.img-container#email p {
   font-size: 1.7rem;
   font-weight: 600;
   text-align: center;
   padding: 0px 15px 15px 15px;
}

.img-container#whatsapp img,
.img-container#email img {
   padding: 0px 15px 15px 15px;
}
