.section-content#contacts {
  align-self: center;
  flex-grow: 1;
  width: 80%;
}

.flex-container#title-description {
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-container#title-description h1,
.flex-container#title-description p {
  margin-top: 100px;
}

.flex-container#title-description p {
  font-size: 2rem;
  padding-left: 200px;
}

.flex-container#title-description h1 {
  color: var(--blue);
  font-weight: bold;
}

.flex-container#title-description span {
  font-size: 2rem;
  margin-top: 50px;
}

.grid-container#contacts-grid {
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-container#contact-item {
  flex-direction: column;
  margin: 0px 100px 50px 100px;
}

.contact-name,
.contact-phone-number {
  margin: 10px;
  align-self: center;
}

.contact-phone-number {
  background-color: var(--blue);
  color: white;
  font-size: 2rem;
  padding: 10px 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}
