* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #548CFF;
    --white: #fff;
    --light_gray: #F4F9F9;
}

html {
    font-size: 10px
}

body{
    min-height: 1200px;
    min-width: 100vw;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin-top: 100px;
}

.section-title,
.section-title{
    font-size: 3rem;
    font-weight: lighter;
}


p,
li,
h1,
h2,
h3,
h4,
h5,
h6, 
.refButton{
  font-family: "Roboto", sans-serif;
}