.flex-container#latest-news{
    background-color: var(--white);
    flex-direction: column;
}

.section-title#latest-news-title {
    margin-top: 100px;
}

.section-title#latest-news-title h1{
    font-size: 3rem;
    font-weight: lighter;
}