.section-content#home {
  position: relative;
}

.img-container#carousel {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.img-in-loading,
.img-loaded {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 1s;
}

.img-in-loading {
  opacity: 0;
}

.img-loaded {
  opacity: 1;
}

.dark-overlay {
  position: absolute;
  background-color: black;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}

.home-description {
  position: absolute;
  flex-direction: column;
  width: 450px;
  top: 45%;
  left: 5%;
  z-index: 2;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px 45px;
}

.title-home,
.home-paragraph {
  text-align: left;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.title-home {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 5px;
  color: var(--blue);
}

.home-paragraph {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

@media (max-width: 1280px) {
  .home-description {
    position: absolute;
    flex-direction: column;
    width: 600px;
    top: 40%;
    left: 5%;
    z-index: 2;
  }

  .title-home {
    font-size: 5rem;
  }

  .home-paragraph {
    font-size: 2rem;
    line-height: 2rem;
  }
}
