.section-content#home {
    position: relative;
}

.img-container#carousel{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.img-in-loading,
.img-loaded {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 1s;
}

.img-in-loading {
    opacity: 0;
}

.img-loaded{    
    opacity: 1;
}

.dark-overlay{
    position: absolute;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    opacity: 0.4;
}