.navbar {
  opacity: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 5px 8px -5px black;
}

/*On mobile phones*/
#flex-mobile-menu {
  width: 30px;
  height: 30px;
  background-color: aqua;
}

.mobnav-links,
.desknav-links {
  list-style: none;
  font-size: 1.8rem;
}

.desknav-links {
  display: flex;
}

.mobnav-item,
.desknav-item {
  padding: 10px 20px 10px 30px;
  font-weight: lighter;
  opacity: 1;
  position: relative;
}

.desknav-item:hover > ol {
  display: flex;
}

.anchor:hover {
  color: var(--blue);
}

.submenu {
  display: none;
  flex-direction: column;
  height: fit-content;
  width: 150px;
  justify-content: space-evenly;
  position: absolute;
  z-index: inherit;
  background-color: var(--gray);
  position: absolute;
  top: 100%;
}

.submenu a:hover {
  background-color: var(--blue);
}

.submenu a {
  padding: 5px;
  color: var(--white);
}
