.navbar {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 5px 8px -5px black;
}

/*On mobile phones*/
#flex-mobile-menu {
  width: 30px;
  height: 30px;
  background-color: aqua;
}

.mobnav-links,
.desknav-links {
  list-style: none;
  font-size: 1.8rem;
}

.desknav-links {
  display: flex;
  flex-direction: row;
}

.mobnav-item,
.desknav-item {
  margin: 10px 20px 10px 30px;
  font-weight: lighter;
  opacity: 1;
}

.anchor:hover {
  color: var(--blue);
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}
