.section-content#latest-news {
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.flex-container#news-slider {
   margin: 50px 20px 20px 20px;
   justify-content: flex-start;
   align-items: center;
   max-width: 1000px;
   overflow: hidden;
   border-radius: 15px;
}

.flex-container#cards-carousel {
   display: flex;
   justify-content: space-around;
   transform-origin: left;
   transition: transform 1s ease;
   margin: 0;
   padding: 0px;
}

/*Just for the first item

  also works .flex-container:first-child

*/

.card {
   flex-direction: column;
   height: 500px;
   min-width: 300px;
   max-width: 300px;
   background-color: var(--white);
   box-shadow: -2px 5px 10px -5px black;
   border-radius: 10px;
   margin: 20px;
   overflow: hidden;
}

.card:first-child {
   margin-left: 10px;
}

.img-container#news-image {
   height: 50%;
   width: 100%;
   overflow: hidden;
}

.img-container#news-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.flex-container#description {
   display: inherit;
   height: 50%;
   width: 300px;
   flex-direction: column;
   justify-content: flex-start;
}

.news-title,
.news-description,
.ref-button-card {
   width: 80%;
}

.news-title,
.ref-button-card {
   padding: 30px 0px 30px 0px;
}

.news-title {
   font-size: 2rem;
}

.news-description {
   text-align: justify;
   font-size: 1.3rem;
}

.ref-button-card {
   width: 80%;
   background-color: transparent;
   justify-content: flex-end;
}

.ref-button-card a {
   display: flex;
   font-size: 1.5rem;
   padding-left: 5px;
   cursor: pointer;
   text-decoration: none;
   align-items: center;
}

.ref-button-card a:hover {
   color: var(--blue);
}

.prev-card,
.next-card {
   color: var(--gray);
   height: 40px;
   width: 40px;
   cursor: pointer;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
   background-color: var(--gray);
   border-radius: 50%;
   color: var(--white);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.prev-card {
   padding-right: 2px;
}
.next-card {
   padding-left: 2px;
}

@media (max-width: 1280px) {
   .flex-container#news-slider {
      max-width: 660px;
   }
}

@media (max-width: 880px) {
   .flex-container#news-slider {
      max-width: 340px;
   }
}
