.section-content#politician-profile {
  height: 100%;
}

.grid-container#politician-grid {
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  height: 100%;
}

.politician-img {
  margin-top: 80px;
  grid-column-end: span 2;
  height: 150px;
  background-color: var(--blue);
}

.politician-img img {
  height: 300px;
  width: 300px;
  margin-top: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.flex-container#biography,
.flex-container#contact-info {
  /* background-color: aqua; */
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
  padding: 20px 80px;
}

.flex-container#biography p,
.flex-container#contact-info p {
  font-size: 1.8rem;
  padding-top: 20px;
  line-height: 2rem;
  text-align: left;
}

.flex-container#biography p {
  padding-right: 100px;
}

.flex-container#biography p, h2 {
  width: 100%;
}

.flex-container#biography h2 {
  color: var(--blue);
  font-size: 4rem;
  padding-bottom: 5px;
}

.flex-container#contact-info p, span {
  width: 100%;
}

.flex-container#contact-info span {
  font-weight: bold;
}



