.grid-container#procedures-grid {
   grid-template-columns: 1fr 1fr 1fr;
   padding-top: 50px;
}

.procedure-item {
   flex-direction: row;
   border: 1px solid lightgrey;
   border-radius: 10px;
   margin: 20px;
   padding: 20px;
   background-color: white;
   cursor: pointer;
   transition: transform ease 0.5s;
}

.procedure-item:hover {
   transform: scale(1.1);
   background-color: var(--light-blue);
}

.description-container {
   display: inherit;
   flex-direction: column;
}

.procedure-icon {
   display: inherit;
   align-content: flex-start;
   height: 100%;
}

.procedure-icon img {
   height: 45px;
   width: auto;
}

.procedure-title {
   text-align: center;
   padding: 5px 25px 5px 10px;
}

.procedure-description {
   font-size: 1.5rem;
   text-align: center;
   padding: 5px 25px 5px 25px;
}

@media (max-width: 1280px) {
   .grid-container#procedures-grid {
      grid-template-columns: 1fr 1fr;
      width: 860px;
   }
}

@media (max-width: 900px) {
   .grid-container#procedures-grid {
      grid-template-columns: 1fr 1fr;
      width: 800px;
   }
}

@media (max-width: 800px) {
   .grid-container#procedures-grid {
      grid-template-columns: 1fr;
      width: 450px;
   }
}
